{% extends 'core/base.html' %}
{% block content  %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="home">
                {% for p in posts %}
                <img  width="75px" margin-left="20px" class="rounded-circle" src="{{p.author.profile.photo.url}}" alt="">
                <div class="content">
                   <a href="{{p.get_absolute_url}}"> <h2>{{p.title}}</h2></a>
                    <small>By {{p.author.username}} on {{p.date|timesince}}</small>
                    <p>{{p.content}}</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}